<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.ArticlesExtMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.Articles">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="gmt_create_time" jdbcType="VARCHAR" property="gmtCreateTime" />
    <result column="gmt_modified_time" jdbcType="VARCHAR" property="gmtModifiedTime" />
    <result column="author" jdbcType="BIGINT" property="author" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="tag" jdbcType="INTEGER" property="tag" />
    <result column="article_img" jdbcType="VARCHAR" property="articleImg" />
  </resultMap>


  <select id="getLast" resultType="com.fish.community.demo.model.Articles">
    select
    <include refid="com.fish.community.demo.mapper.ArticlesMapper.Base_Column_List"/>
    from articles
    ORDER BY id DESC LIMIT 1
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="com.fish.community.demo.mapper.ArticlesMapper.Base_Column_List"/>
    from articles ${isUserId} order by ${order} ${descOrAsc}
  </select>


  <select id="searchArticleByKey" resultMap="BaseResultMap">
    select
    <include refid="com.fish.community.demo.mapper.ArticlesMapper.Base_Column_List"/>
    from articles
    where title like concat('%',#{key},'%') ${isUserId}
    order by ${order} ${descOrAsc}
    limit #{start}, #{listSize}
  </select>

  <select id="getCountSearchArticleByKey" resultType="int">
    select count(*)
    from articles
    where title ${isUserId} like concat('%',#{key},'%')

  </select>

  <update id="increaseLikeCount">
    update articles
    set like_count = like_count+1
    where id = #{id}
  </update>

  <select id="selectHotArticle" resultMap="BaseResultMap">
    select *
    from articles
    order by view_count desc
  </select>

  <select id="recommend" resultMap="BaseResultMap">
    select *
    from articles
    where tag = #{tag}
    order by view_count desc
  </select>

  <select id="activeAuthor" resultType="com.fish.community.demo.resp.ActiveAuthorResp">
    select count(*) as articleCount, author
    from articles
    group by author
    order by articleCount desc
  </select>

  <update id="decreaseLikeCount">
    update articles
    set dislike_count = dislike_count+1
    where id = #{id}
  </update>
</mapper>