<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.CommentExtMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="like_count" jdbcType="BIGINT" property="likeCount" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="commenter_id" jdbcType="BIGINT" property="commenterId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="commented_id" jdbcType="BIGINT" property="commentedId" />
    <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    <result column="root_id" jdbcType="BIGINT" property="rootId" />
  </resultMap>

  <select id="selectByArticleIdAndCommentId" resultMap="BaseResultMap">
    select
    <include refid="com.fish.community.demo.mapper.CommentMapper.Base_Column_List"/>
    from comment
    where article_id = #{articleId} and parent_id = #{parentId} and root_id = #{rootId}
    order by gmt_create desc
  </select>

  <select id="selectByArticleIdAndRootId" resultMap="BaseResultMap">
    select
    <include refid="com.fish.community.demo.mapper.CommentMapper.Base_Column_List"/>
    from comment
    where article_id = #{articleId} and root_id = #{rootId}
    order by gmt_create desc
  </select>

</mapper>