<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.Notification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="affect_id" jdbcType="BIGINT" property="affectId" />
    <result column="action_id" jdbcType="BIGINT" property="actionId" />
    <result column="sign" jdbcType="INTEGER" property="sign" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="kind" jdbcType="INTEGER" property="kind" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, affect_id, action_id, sign, gmt_create, kind, content, article_id
  </sql>
  <select id="selectByExample" parameterType="com.fish.community.demo.model.NotificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from notification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fish.community.demo.model.NotificationExample">
    delete from notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fish.community.demo.model.Notification">
    insert into notification (id, affect_id, action_id, 
      sign, gmt_create, kind, 
      content, article_id)
    values (#{id,jdbcType=BIGINT}, #{affectId,jdbcType=BIGINT}, #{actionId,jdbcType=BIGINT}, 
      #{sign,jdbcType=INTEGER}, #{gmtCreate,jdbcType=VARCHAR}, #{kind,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{articleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.community.demo.model.Notification">
    insert into notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="affectId != null">
        affect_id,
      </if>
      <if test="actionId != null">
        action_id,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="affectId != null">
        #{affectId,jdbcType=BIGINT},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=BIGINT},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fish.community.demo.model.NotificationExample" resultType="java.lang.Long">
    select count(*) from notification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update notification
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.affectId != null">
        affect_id = #{record.affectId,jdbcType=BIGINT},
      </if>
      <if test="record.actionId != null">
        action_id = #{record.actionId,jdbcType=BIGINT},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null">
        kind = #{record.kind,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update notification
    set id = #{record.id,jdbcType=BIGINT},
      affect_id = #{record.affectId,jdbcType=BIGINT},
      action_id = #{record.actionId,jdbcType=BIGINT},
      sign = #{record.sign,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      kind = #{record.kind,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      article_id = #{record.articleId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.community.demo.model.Notification">
    update notification
    <set>
      <if test="affectId != null">
        affect_id = #{affectId,jdbcType=BIGINT},
      </if>
      <if test="actionId != null">
        action_id = #{actionId,jdbcType=BIGINT},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.community.demo.model.Notification">
    update notification
    set affect_id = #{affectId,jdbcType=BIGINT},
      action_id = #{actionId,jdbcType=BIGINT},
      sign = #{sign,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>