<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.UserExtMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.User">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
  </resultMap>


  <select id="selectIdIn" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
    select *
    from user
    where id in (
    <foreach collection="list"  item="id" index="index" separator=",">
      #{id}
    </foreach>
    )
  </select>
</mapper>