<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.UserinfoExtMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.Userinfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="page_views" jdbcType="INTEGER" property="pageViews" />
    <result column="focus_on_count" jdbcType="INTEGER" property="focusOnCount" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="followed_count" jdbcType="INTEGER" property="followedCount" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
  </resultMap>
  <select id="selectIdIn" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
    select *
    from userInfo
    where user_id in (
    <foreach collection="list"  item="id" index="index" separator=",">
      #{id}
    </foreach>
    )
  </select>

  <update id="incFoucsCount">
    update userInfo
    set focus_on_count = focus_on_count + #{i}
    where id = #{id}
  </update>

  <update id="incFollowedCount">
    update userInfo
    set followed_count = followed_count + #{i}
    where id = #{id}
  </update>
</mapper>