<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.community.demo.mapper.VisitsTodayExtMapper">
  <resultMap id="BaseResultMap" type="com.fish.community.demo.model.VisitsToday">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>
  <select id="todayVisit" resultType="int" parameterType="String">
    select count(*)
    from visits_today
    where date = #{date}
  </select>
</mapper>